body{
  background-color: aquamarine;
}
.div {
  position: absolute;
  background-color: rgb(194, 152, 207);
  width: 55%;
  height: 85%;
  left: 23%;
}

#name {
  margin-top: 2%;
  font-size: 30px;
  font-family: Times;
}

.img {
  float: left;
  position: absolute;
  width: 28%;
  height: 40%;
  margin-top: 1%;
  margin-left: 1%;
}

.titulo {
  text-align: center;
  font-family: Courier;
  color: rgb(106, 11, 143);
  font-size: x-large;
  position: relative;
}

.txt1 {
  position: absolute;
  width: 68%;
  height: 35%;
  left: 30%;
  top: -2%;
  text-align: justify;
}

.txt1 p {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
}

.txt2 {
  position: absolute;
  width: 144%;
  height: 70%;
  left: -43%;
  top: 116%;
  text-align: justify;
}

.txt2 p {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
}

.boton {
  position: unset;
  border: 1px solid #04060a;
  padding: 10px;
  background-color: #bb77bf;
  color: #ffffff;
  font-family: Verdana;
  border-radius: 10px;
  width: auto;
  height: auto;
}
.contacto{
  position: absolute;
  left: 10%;
  top: 100%;
  width: 70%;
  height: 30%;
}
#fecha{
  position: absolute;
  left: 0;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(14, 4, 17);
  font-size: .8em;
}
#text-contact {
  position: asolute;
  left: 0;
  top: 30%;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(14, 4, 17);
  font-size: .8em;
}
.face{
  position: absolute;
  left: 0;
  top: 25%;
  width: 16%;
  height: 30%;
}
#img-face{
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
}
#facebook{
  position: absolute;
  left: 50%;
  top: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
}
.whats{
  position: absolute;
  left: 0;
  top: 55%;
  width: 20%;
  height: 30%;
}
#img-whats{
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
}
#whatsapp{
  position: absolute;
  left: 50%;
  top: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
}